  .text-header{
    margin-top: 10%;
    font-size: 60px;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-align: center;
  }
  .ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child {
    padding-top: calc(20px + 4px);
    padding-top: calc(constant(safe-area-inset-top) + 4px);
    padding-top: calc(env(safe-area-inset-top) + 4px);
    min-height: calc(44px + 20px);
    min-height: calc(44px + constant(safe-area-inset-top));
    min-height: calc(44px + env(safe-area-inset-top));
  }
  .background-footer{
    background-color: #102D49;
  }
  .background{
    background:  #19232C; 
    background-repeat: no-repeat;
  }
  .text-or{
    display: block;
    color: whitesmoke;
    text-align: center;
    line-height: 150%;
    font-size: 1.1em;
  }
  .card-login{
    background-color: #102D49;
    border-bottom:none !important;  
    margin-block-start: 15%;
  }
  .formulario{
    border-bottom:none !important;
    border-top:none !important;
    border-left:none !important;
    border-right:none !important;
    font-size: 14px;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
  }
  .txt-recover-password{
    color:white;
    font-size: 14px;
  }
  ion-item {
    background: transparent!important;
  }

