page-eth {
      .principal-text{
        color: white;
        text-align: center;
        list-style: disc;
        margin: 10px 0px;
        margin-top: 30px;
      }     
        
      .second-separator {
        text-align: center;
        font-size: 1px;
        line-height: 1px;
        background-color: rgb(22, 172, 102);
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
        margin-right: 30px;
     }
}
