page-principal {
    ion-item, .coinbtn {
      background: #102D49 !important;
      margin-bottom: 0 !important;
      border-top: 2px solid #19232c !important;
      border-left: 5px solid #19232c !important;
      border-right: 5px solid #19232c !important;
      border-bottom: 2px solid #19232c !important;
      font-size: 15%;
      color: white !important;
    }     
    .details {
        background-color: #19232C !important;
    }
    .toolbar-title.toolbar-title-md,
    .toolbar-title.toolbar-title-ios,
    .toolbar-title.toolbar-title-wp { color: white; text-align: center }
    .col {
      padding: 0 !important;
    }  
    span.label {
        text-transform:uppercase !important;
        font-size: .7em;
        color: #327EB1;
        display:block;
    } 
    span.answer {
        font-size: .8em;
    }
    .end {
        text-align:right;
    }    
}