page-tienda {

  .card-login{
    background-color: #102D49;
    border-radius: 5px;
    position: relative;
    align-content: center;
    margin-block-start: 2%;
  }
  .myOverlay{
    width: 90%;
    height: 80px;
    position: fixed;
    text-align: center;
    font-size: 1.7em;
    font-family: 'Titan One', cursive;
    bottom: 0px;
    color: rgb(217, 255, 0);
}
}
